<footer>
			<a href="#top" class="up">&#8593;</a>
			<table>
				<tbody>
				<tr>
					<td>
						<address><strong>Architekt Dipl. Ing (FH) Franz Dürr</strong></address>
						<address>Albert-Schweitzer-Straße 3</address>
						<address>91207 Lauf/Peg.</address>

					</td>
					<td>
						<address>+49 (0)9123 9644256</address>
						<address><a>info@architektduerr.de</a></address>
						<address>221/212/80047</address>

					</td>
				</tr>
				<tr>
					<td colspan="2">Copyright © 2009 architektduerr. All Rights Reserved.</td>
				</tr>
				</tbody>
			</table>
		</footer>
