<header id="top">
	<table class="header">
		<tbody>
			<tr>
				<td colspan="2" rowspan="4" class="width-auto"><h1 class="title">architekt<strong>duerr</strong></h1></td>
				<th><a href="#modernisierung">Modernisierung</a></th>
			</tr>
			<tr><th><a href="#neubau">Neubau</a></th></tr>
			<tr><th><a href="#sanierung">Sanierung</a></th></tr>
			<tr><th><a href="#projekte">Projekte</a></th></tr>
			<tr>
				<th>Franz Duerr</th>
				<td>Architekt Dipl. Ing (FH)</td>
				<th><a href="#impressum">Impressum</a></th>
			</tr>
		</tbody>
	</table>
</header>
