---
---

@import "reset.scss";
@import "monospace.scss";

/* CUSTOM ADDITIONS DB */

section {
    padding: 17% 0 9% 0;
  }
  
  header {
    padding-top: 13%;
  }

  
  header h1.title {
    padding-top: calc((var(--line-height) / 2) - var(--border-thickness));
  }
  
  header h1.title strong {
    color: #F7B718; /* Pantone 14-0957 TCX Spectra Yellow */
    border: 1px solid #000;
    font-size: 2.4rem;
  }
  
  header th:has(a) {
    padding: 0;
  }

  header td:has(h1.title) {
    border-top: 0;
    border-left 0;
  }

  header table tbody tr:first-child > * {
    padding-top: 0;
  }
  
  header th a {
  padding: calc((var(--line-height) / 2))
    calc(1ch - var(--border-thickness) / 2)
    calc((var(--line-height) / 2) - (var(--border-thickness)));
  line-height: var(--line-height);
  vertical-align: top;
  text-align: left;
  display: block;
  text-decoration: none;
  }
  
  header th a:hover {
    background-color: #F7B718;
  }